<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>PixelMedia</display-name>
  <servlet>
    <servlet-name>addDiscount</servlet-name>
    <servlet-class>admin.addDiscount</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>removeDiscount</servlet-name>
    <servlet-class>admin.removeDiscount</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>removeProduct</servlet-name>
    <servlet-class>admin.removeProduct</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>removeUser</servlet-name>
    <servlet-class>admin.removeUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>showUsers</servlet-name>
    <servlet-class>admin.showUsers</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>loginRegister.loginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>loginRegister.registerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>changeMyPassword</servlet-name>
    <servlet-class>loginRegister.changeMyPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>changeMyPassword</servlet-name>
    <url-pattern>/changeMyPassword</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>